body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: black;
}

h1 {
    color: #ffd700;
    text-align: left;
    font-size: 80px;
    padding-left: 2rem;
    font-weight: 400;
}

.subtitle {
    font-size: 40px;
    font-weight: 200;
}

h2 {
    color: #ffd700;
    text-align: left;
    padding-left: 2rem;
}


h3 {
    color: #ffd700;
    text-align: left;
    margin-top: 3rem;
    font-size: x-large;
    padding-left: 2rem;
    font-weight: 400;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

p {
    line-height: 1.5;
    color: white;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: left;
}

li {
    line-height: 1.5;
    color: white;
    margin-left: 5rem;
}

/*not working yet*/
.bio.h3 {
    color: white;
}

.image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .image-container {
    position: relative;
    width: 33%;
  }
  
  .image-container img {
    width: 95%;
    height: auto;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
  }

  .paragraph-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .paragraph-row p {
    width: 30%;
    margin: 10px;
    text-align: left;
    font-size: 15px;
    font-weight: 200;
  }

  .image-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .image-stack img {
    margin: 10px;
    width: 75%;
  }

  .team-pic {
    width: 80%;
  }

  .logo {
    width: 500px;
    padding: 2rem;
    display: inline-block;
    vertical-align: top;
  }

  .tile {
    padding: 2rem;
    display: inline-block;
    vertical-align: top;
    width: 300px;
  }
  
  
  .team-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .team-container img {
    width: calc(20% - 20px); 
    object-fit: cover; 
  } 

  a {
    color: lightblue;
    font-size: 20px;
    font-weight: 200;
  }

  .benefits li {
    padding-bottom: 20px;
  }

  .statement {
    font-size: large;
    font-weight: 500;
  }

  p {
    line-height: 2;
    font-size: 18px;
  }


  .table-container {
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .bordered-table {
    border: 1px solid #FFFFFF; /* White border */
    border-collapse: collapse;
    width: 100%;
    color: white;
    table-layout: fixed; /* Added property for equal column width */

  }
  
  .bordered-table td {
    border: 1px solid #FFFFFF; /* White border */
    padding: 10px;
    text-align: center;
    background: none;
    width: 20%; /* Set equal width for each column */
    line-height: 1.5rem;
    font-weight: 200;
  }

  .cols {
    background-color: #DAA520;
  }

  .benefits {
    width: 75%;
  }
  
