body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: black;
}

h1 {
    color: #ffd700;
    text-align: center;
    font-size: 65px;
}

.subtitle {
    font-size: 40px;
}

h2 {
    color: #ffd700;
    text-align: center;
}

.names {
    font-size: 20px;
}

h3 {
    color: #ffd700;
    text-align: center;
    margin-top: 3rem;
    font-size: x-large;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

p {
    line-height: 1.5;
    color: white;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
}

li {
    line-height: 1.5;
    color: white;
    margin-left: 5rem;
}

/*not working yet*/
.bio.h3 {
    color: white;
}

.image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .image-container {
    position: relative;
    width: 33%;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
  }

  .paragraph-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .paragraph-row p {
    width: 30%;
    margin: 10px;
    text-align: center;
    font-size: 13px;
  }

  .image-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .image-stack img {
    margin: 5px;
    width: 100%;
  }

  .team-pic {
    width: 80%
  }
  
